{% extends "space/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="account-section">
      <form method="post" enctype="multipart/form-data"><!-- enctype needed to save the image -->
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Galaxy State</legend>
              <img class="rounded-circle account-img" src="{{ user.galaxy.image.url }}">
              {{ g_form|crispy }}
              {{ a_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}

