{% extends "space/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if not posts %}
    <div class="post-section">
        <h2> There are no posts , go make some posts!</h2>
    </div>
{% else %}
<div class="post-section" style="text-align:center; background-color:transparent;">
    <h1 style="color:white;"> {{ picked_star.name }} Posts</h1>
        {% if stars %}
            <div class="content-section" style="">
                <h3>Other Stars</h3>
                {% for star in stars %}
                {% if star.name != picked_star.name %}
                <div class="ranked-image-container">
                    <form action="{% url 'my_star_posts' star.id %}">
                    {% csrf_token %}
                    <button type="submit"><img  src="{{ star.image.url }}" style="width:100px;height:100px;"></button>
                    <h4>{{ star.name }}</h4>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
</div>
{% include 'space/posts.html' %}
{% endif %}

{% endblock content %}