{% if user.is_authenticated %}
    {% if user.galaxy.blocked %}
        <button class="btn btn-outline-info" onclick="notifyBlocked()">{{post.lasanhas.count}} Give Lasanha{{post.lasanhas.count|pluralize}}</button>
    {% else %}
        <form action="{% url 'give_lasanha' %}" method="submit">
            {% csrf_token %}
            {% if is_liked %}
                <button type="submit" id="lasanha{{post.id}}" name="post_id" value="{{ post.id }}" class="btn btn-outline-info">{{post.lasanhas.count}} Steal Lasanha{{post.lasanhas.count|pluralize}}</button>
            {% else %}
                <button type="submit" id="lasanha{{post.id}}" name="post_id" value="{{ post.id }}" class="btn btn-outline-info">{{post.lasanhas.count}} Give Lasanha{{post.lasanhas.count|pluralize}}</button>
            {% endif %}
        </form>
    {% endif %}
{% else %}
    <button class="btn btn-outline-info" onclick="notifyAuthentication()">{{post.lasanhas.count}} Give Lasanha{{post.lasanhas.count|pluralize}}</button>
{% endif %}
